einops
triton
matplotlib
lightning

# --------- hydra --------- #
hydra-core
hydra-colorlog
hydra-optuna-sweeper

# --------- loggers --------- #
wandb

rootutils
pre-commit      # hooks for applying linters on commit
rich
pytest
tree
dm-tree
pandas
p-tqdm
biopython
omegaconf
jax
prettytable
tqdm
pandas
ml_collections
